{{outlet navBar}}
<div class="container">
  {{outlet}}
</div>
<footer class="footer">
  <div class="container">
    <a href="http://www.cakephp.org/" target="_blank">
      <img src="/img/cake.power.gif" alt="CakePHP: the rapid development php framework" border="0">
    </a>
  </div>
</footer>