<p><span class="notice success">
  Your base Ember app has been set up.
</span></p>

<p>To change the content of this template, take a look at APP/webroot/app/Template/index.handlebars<p>

<p>To start adding your own routes, look at APP/webroot/app/Config/router.js, and remove or rename the IndexRoute.js in APP/webroot/Route/IndexRoute.js<p>

<p>Find more Ember information at their <a href="http://emberjs.com/" target="_blank">site</a> or the <a href="http://emberjs.com/api/" target="_blank">api</a>

